USE [Greg]
GO
/****** Object:  Table [dbo].[MasterLegend]    Script Date: 6/15/2021 8:53:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterLegend](
	[MasterLegend] [varchar](10) NULL,
	[MasterLegendDescription] [varchar](30) NULL
) ON [PRIMARY]
GO
